.dynamicMenuItemSpace {
  .el-menu-item-group__title {
    height: 0 !important;
    padding: 0 !important;
  }
}

.dynamic-icon-class {
  color: #fff!important;
  font-size: 20px !important;
  margin-right: 5px;
}