#app {
  .app-container {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .fixed-header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2001; //需要大于loading的2000
    width: calc(100% - #{$sideBarWidth}); //运算符(如：+-*/)前后都需要保留一个空格
    transition: width 0.28s;
    background-color: #fff;
  }

  .main-container {
    min-height: 100%;
    height: 100%;
    transition: margin-left .28s;
    margin-left: $sideBarWidth;
    position: relative;

    .main-container-down{
      width: 100%;
      //min-height: 100%;
      padding: 15px 15px 30px;
      background-color: #eee;

      min-height: 100%;
      overflow-y: scroll;

    }

    .fixed-header+.main-container-down {
      padding-top: 131px; //111+30的距离
    }

  }

  .sidebar-container {
    transition: width 0.28s;
    width: $sideBarWidth !important;
    background-color: $menuBg;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;

    .crm{
      width: $sideBarWidth ;
      height: 50px;
      color: white;
      font-size: 19px;
      font-weight: bold;
      text-align: center;
      line-height: 50px;
      background-color: $menuBg;
      transition: width 0.28s;
    }
    // reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .el-scrollbar {
      height: 100%;
    }

    &.has-logo {
      .el-scrollbar {
        height: calc(100% - 50px);
      }
    }

    .is-horizontal {
      display: none;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }

    // menu hover
    .submenu-title-noDropdown,
    .el-submenu__title {
      &:hover {
        background-color: $menuHover !important;
      }
    }

    .is-active>.el-submenu__title {
      color: $subMenuActiveText !important;
    }

    & .nest-menu .el-submenu>.el-submenu__title,
    & .el-submenu .el-menu-item {
      min-width: $sideBarWidth !important;
      background-color: $subMenuBg !important;

      &:hover {
        background-color: $subMenuHover !important;
      }
    }
  }

  .hideSidebar {
    .sidebar-container {
      width: 60px !important;
    }
    .crm{
      width: 60px !important;
      transition: width 0.28s;
    }

    .fixed-header {
      width: calc(100% - 60px)
    }

    .main-container {
      margin-left: 60px;
    }

    .el-submenu {//当收缩时，强制设置padding值，让图片居中显示，(总宽度-图片宽)/2
      &>.el-submenu__title {
        padding-left: 20px !important;
      }
    }

    .el-menu-item{//当收缩时，强制设置padding值，让图片居中显示，(总宽度-图片宽)/2
      .el-tooltip{
       padding-left: 20px !important;
      }
    }

    .el-menu--collapse { //收缩时隐藏文字
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }


  .withoutAnimation {  //保证每一个切换都有渐变动画
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}
